<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IntocastGasMeterApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IntocastGasMeterApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <IntocastGasMeterApp.Properties.Settings>
            <setting name="spp_url" serializeAs="String">
                <value>https://gasapi.spp-distribucia.sk/Website/sppdapi/</value>
            </setting>
        </IntocastGasMeterApp.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <IntocastGasMeterApp.Properties.Settings>
            <setting name="run_on_startup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="measure_start" serializeAs="String">
                <value>00:00</value>
            </setting>
            <setting name="interval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="usage_agreed_max" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="usage_set_max" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="throughput_agreed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sessionId" serializeAs="String">
                <value />
            </setting>
        </IntocastGasMeterApp.Properties.Settings>
    </userSettings>
</configuration>